
library-frontend/win32-x64-59_binding.node
library-frontend/readme.md
library-frontend/package-lock.json
library-frontend/build/vendors.bundle.js
library-frontend/build/styles/components.css
library-frontend/build/styles/0.css
library-frontend/build/polyfills.bundle.js
library-frontend/build/index.html
library-frontend/build/app.bundle.js
library-frontend/babel.txt
library-frontend/.babelrc
library/src/main/webapp/static/app.bundle.js
library/src/main/webapp/static/polyfills.bundle.js
library/src/main/webapp/static/styles/0.css
library/src/main/webapp/static/app.bundle.js
library/src/main/webapp/static/polyfills.bundle.js
library/src/main/webapp/static/styles/0.css
library-frontend/node_modules/**
library/src/main/webapp/static/**
library/.settings/**
library/src/main/webapp/static/app.bundle.js
library/src/main/webapp/static/polyfills.bundle.js
library/src/main/webapp/static/styles/0.css
library-frontend/.vscode/settings.json
