html,
body {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-ligatures: none;
  margin: 0px;
  padding: 0px;
  color: #424242;
  height: 100% !important;
  overflow: auto;
}

body {
  font-family: "agenda";
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.table-fixed {
  max-height: 250px;
  overflow: scroll;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  display: block;
}

.modal-header {
  background: burlywood;
  height: 60px;
}

.modal-title {
  display: inline-block;
}

.margin-top {
  margin-top: 250px;
}

.display-inline {
  display: inline-block;
}
